.header
{
    text-align: center;
    background-color: #5f2d96;
    color: white;
    padding: 20px;
}

.menu
{
    float: left;
    width: 25%;
    background-color: #3e1d63;
    color: white;
    text-align: center;
}

.menuButton
{
    background-color: #56288a;
    color: white;
    text-align: center;
    padding: 10%;
}

.menuButton:hover
{
    background-color: white;
    color: black;
}


.footer
{
    clear: both;
    text-align: center;
    padding: 2%;
}

.pageButton
{
    background-color: #56288a;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}




.memes
{
    float: left;
    width: 75%;
    height: 100%;
    background-color: #b2b2b2;
    color: white;
    text-align: center;
}

.memeDiv
{
    padding-top: 5%;
    height: 50%;
}

.memeImage
{
    width: 80%;
}

.memeTitle
{
    text-align: left;
    color: black;
    margin-left: 5%;
}

.memeLike
{
    font-size: 20px;
    text-align: left;
    color: black;
}


.comments
{
    width: 100%;
    height: 100%;
    background-color: #b2b2b2;
    color: white;
    text-align: center;
}

.commentsText
{
    width: 100%;
    height: 100%;
    background-color: #b2b2b2;
    color: black;
    text-align: left;
}

.commentsContent
{
    width: 100%;
    margin-left: 5%;
    color: black;
    text-align: left;
    font-size: 20;
}

.commentsAutor
{
    width: 100%;
    margin-left: 2%;
    color: black;
    text-align: left;
    font-size: 30;
}


